[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hicham Ouchker (houchker)
[access "refs/for/refs/*"]
	read = group user/Hicham Ouchker (houchker)
	push = group user/Hicham Ouchker (houchker)
	label-Code-Review = -2..+2 group user/Hicham Ouchker (houchker)
	label-Verified = -1..+1 group user/Hicham Ouchker (houchker)
	rebase = group user/Hicham Ouchker (houchker)
	removeReviewer = group user/Hicham Ouchker (houchker)
	submit = group user/Hicham Ouchker (houchker)
[access "refs/heads/*"]
	read = group user/Hicham Ouchker (houchker)
	create = group user/Hicham Ouchker (houchker)
	push = +force group user/Hicham Ouchker (houchker)
	pushMerge = group user/Hicham Ouchker (houchker)
[access "refs/tags/*"]
	push = +force group user/Hicham Ouchker (houchker)
	pushTag = group user/Hicham Ouchker (houchker)
	pushSignedTag = group user/Hicham Ouchker (houchker)
